# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
web/config.php
app/SymfonyRequirements.php
app/check.php
app/spool

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
composer.lock

# IDE
nbproject

# Others
*~

# Future vendors
src/Alcalyn
