parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       25
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            ILoveBrioches
    dir_web:           '../web'

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
    swiftmailer_spool_type: memory # 'memory': send immaediately, or 'file': use spool

    payplug_account_url:                ~
    payplug_account_amount_min:         ~
    payplug_account_amount_max:         ~
    payplug_account_currencies:         ~
    payplug_account_payplugPublicKey:   ~
    payplug_account_yourPrivateKey:     ~
