{% set message = {
    content: 'Vous avez validé votre brioche. Un suivi de commande a été créé. Vous pouvez vous en servir pour communiquer avec Brioche du Dimanche.',
    author: constant('Brioche\\CoreBundle\\Entity\\Message::AUTHOR_BRIOCHE_DU_DIMANCHE'),
    dateCreate: brioche.dateLock
} %}
<div id="suivi-commande" style="position:relative;bottom:58px">
</div>
{% include 'BriocheCoreBundle:Command:_messageSection.html.twig' %}
