<section class="thread summary">
    <h2 class="text-center">Suivi commande</h2>
    <br />
    <div class="thumbnail">
        {% include 'BriocheCoreBundle:Brioche:_summaryTable.html.twig' %}

        <br />
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {% include 'BriocheCoreBundle:Brioche:_priceTable.html.twig' %}
            </div>
        </div>
    </div>
    </div>
</section>