<section class="thread thanks-msg">
    <div class="panel">
        <div class="panel-body">
            <p class="lead text-center">
                Merci. Votre commande a été prise en compte,
                et la brioche vous sera bien livrée le
                <b class="date">{{ brioche.round.date|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM') }}</b>
                au petit matin.<br />
                <br />
                Vous pouvez vous servir de ce suivi de commande pour communiquer avec moi.
            </p>
        </div>
    </div>
</section>
