{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block title %}Suivi de commande {{ client.fullName }} - {{ parent() }}{% endblock %}

{% block body %}
{{ parent() }}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="thread-group">
            {% include 'BriocheCoreBundle:Command:_summarySection.html.twig' %}

            {% include 'BriocheCoreBundle:Command:_firstMessageSection.html.twig' %}

            {% if brioche.round.available and not brioche.validated %}
                {% include 'BriocheCoreBundle:Command:_paymentOptionsSection.html.twig' %}
            {% endif %}

            {% include 'BriocheCoreBundle:Command:_paymentStateSection.html.twig' %}

            {% for message in brioche.messages %}
                {% include 'BriocheCoreBundle:Command:_messageSection.html.twig' %}
            {% endfor %}

            {% include 'BriocheCoreBundle:Command:_actionsSection.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
