{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block title %}Villes desservies - {{ parent() }}{% endblock %}

{% block metadesc %}Villes dans lequelles je livre vos brioches gratuitement.{% endblock %}

{% block body %}
<section class="cities">
    <h2 class="text-center">Villes desservies</h2>
    <br />
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead">
                        Je livre pour l'instant vos brioches en Essonne, dans les villes suivantes uniquement :<br />
                    </p>

                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <ul class="lead list-unstyled">
                                {% for city in cities %}
                                    <li>
                                        <p>
                                            <span class="glyphicon glyphicon-map-marker"></span>
                                            <b>{{ city.title }}</b>
                                            ({{ city.postalcode }})
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
