{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block metadesc %}Contactez-moi par mail ou par téléphone.{% endblock %}

{% block body %}
<section class="contact">
    <h2 class="text-center">Contact</h2>
    <br />
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <address class="lead text-center">
                        <h3>Brioche du Dimanche</h3><br />
                        <br />
                        <abbr title="Email">
                            <span class="glyphicon glyphicon-envelope"></span></abbr><a href="mailto:contact@brioche-du-dimanche.com">contact@brioche-du-dimanche.com</a><br />
                        <br />
                        <abbr title="Téléphone">
                            <span class="glyphicon glyphicon-phone"></span></abbr><img src="{{ asset('bundles/briochecore/img/phone-number.png') }}" alt="Chargement du numéro..." /><br />
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
