{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block body %}
<section class="steps">
    <h2 class="text-center">Fonctionnement</h2>
    <br />
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Commande</h3>
                            <br />
                            <p>
                                <img src="//dummyimage.com/256" alt="alt" class="img-circle img-thumbnail img-responsive">
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed vulputate facilisis odio, blandit feugiat enim ultricies quis.
                                Nullam pulvinar mi vitae ornare viverra.
                                Duis tempor nibh non tempor condimentum.
                            </p>
                            <hr class="visible-xs-block" />
                        </div>
                        <div class="col-sm-4">
                            <h3>Fabrication</h3>
                            <br />
                            <p>
                                <img src="//dummyimage.com/256" alt="alt" class="img-circle img-thumbnail img-responsive">
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed vulputate facilisis odio, blandit feugiat enim ultricies quis.
                                Nullam pulvinar mi vitae ornare viverra.
                                Duis tempor nibh non tempor condimentum.
                            </p>
                            <hr class="visible-xs-block" />
                        </div>
                        <div class="col-sm-4">
                            <h3>Tournée</h3>
                            <br />
                            <p>
                                <img src="//dummyimage.com/256" alt="alt" class="img-circle img-thumbnail img-responsive">
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Sed vulputate facilisis odio, blandit feugiat enim ultricies quis.
                                Nullam pulvinar mi vitae ornare viverra.
                                Duis tempor nibh non tempor condimentum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="next-tournees">
    <h2 class="text-center">Prochaines tournées</h2>
    <br />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="center-block tournees">
                <div class="btn-group tournee">
                    <button class="btn btn-primary btndate" role="button">
                        <p class="date">Dimanche 31 Août</p>
                        <p class="count"><small>Commandes :</small> 4 / 5</p>
                    </button>
                    <button class="btn btn-success btnaction" role="button">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
                <div class="btn-group tournee">
                    <button class="btn btn-primary btndate" role="button">
                        <p class="date">Dimanche 14 Septembre</p>
                        <p class="count"><small>Commandes :</small> 1 / 5</p>
                    </button>
                    <button class="btn btn-success btnaction" role="button">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
                <div class="btn-group tournee">
                    <button class="btn btn-primary btndate" role="button">
                        <p class="date">Dimanche 28 Septembre</p>
                        <p class="count"><small>Commandes :</small> 0 / 5</p>
                    </button>
                    <button class="btn btn-success btnaction" role="button">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
