{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block title %}Ingrédients et allergies - {{ parent() }}{% endblock %}

{% block metadesc %}Liste des ingrédients que j'utilise pour faire votre brioche. Les allergènes y sont aussi indiqués.{% endblock %}

{% block body %}
<section class="products">
    <h2 class="text-center">Ingrédients et allergies</h2>
    <br />
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="lead">
                                Cette page liste tous les ingrédients utilisés dans les brioches.
                                Les allergènes y sont aussi indiqués.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <h3>Farine</h3>
                            <p>
                                Farine T45 ou T55 du supermarché.
                            </p>
                            <p class="allergenes">Allergènes :
                                <span class="label label-primary">Gluten</span>
                                <span class="label label-primary">Blé</span>
                                <span class="label label-primary">Farine de blé</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <h3>Œufs</h3>
                            <p>
                                Oeufs bio de poules élevées en plein air.
                            </p>
                            <p class="allergenes">Allergènes :
                                <span class="label label-primary">Œufs</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <h3>Lait</h3>
                            <p>
                                Briques de lait
                            </p>
                            <p class="allergenes">Allergènes :
                                <span class="label label-primary">Lait</span>
                                <span class="label label-primary">Lactose</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <h3>Sucre</h3>
                            <p>
                                Sucre en poudre
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <h3>Beurre</h3>
                            <p>
                                Beurre
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <h3>Levure</h3>
                            <p>
                                Levure de boulanger
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <h3>Sel</h3>
                            <p>
                                Sel
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
