<footer>
    <section class="copy">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        Brioche du Dimanche © 2014
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
