{% extends "BriocheCoreBundle:Mail:layout.html.twig" %}

{% block body %}
<p>
    Vous avez validé votre brioche.
    Vous avez maintenant accès au suivi de cette brioche sur :<br />
    <a href="{{ command_url }}">{{ command_url }}</a>.
</p>
<p>
    Cette page vous permettra de suivre le paiement de la commande
    et de communiquer avec moi.
</p>
{% endblock %}
