<div class="row fuelux hidden-xs">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="wizard">
            <ul class="steps">
                {% set steps = [
                    {
                        route: 'brioche_round',
                        title: 'Tournée',
                        complete: brioche.validRound
                    },
                    {
                        route: 'brioche_type',
                        title: 'Type',
                        complete: brioche.validType
                    },
                    {
                        route: 'brioche_size',
                        title: 'Taille',
                        complete: brioche.validSize
                    },
                    {
                        route: 'brioche_perso',
                        title: 'Touche personnelle',
                        complete: brioche.validPerso
                    },
                    {
                        route: 'brioche_address',
                        title: 'Adresse',
                        complete: brioche.validAddress
                    },
                    {
                        route: 'brioche_time',
                        title: 'Heure',
                        complete: brioche.validTime
                    },
                    {
                        route: 'brioche_summary',
                        title: 'Résumé',
                        complete: false
                    }
                ] %}
                
                {% for step in steps %}
                    <li class="
                        {% if app.request.get('_route') == step.route %}active{% endif %}
                        {% if step.complete %}complete{% endif %}
                    ">
                        <a href="{{ path(step.route) }}">
                            {% if step.complete %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
                            {{ step.title }}
                        </a>
                        <span class="chevron"></span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
