{% extends "BriocheCoreBundle:Brioche:layout.html.twig" %}

{% block title %}Adresse de livraison - {{ parent() }}{% endblock %}

{% block metadesc %}Indiquez votre adresse de livraison où je dois livrer.{% endblock %}

{% block body %}
{{ parent() }}

<section class="address">
    <h2 class="text-center">Adresse de livraison</h2>
    <br />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            {{ form(clientForm) }}
        </div>
    </div>
</section>
{% endblock %}
