{% extends "BriocheCoreBundle::layout.html.twig" %}

{% block body %}
{% include 'BriocheCoreBundle:Brioche:_wizard.html.twig' %}

<section class="round">
    <h2 class="text-center">Choix de la tournée</h2>
    <br />
    
    {% include 'BriocheCoreBundle::_rounds.html.twig' %}
</section>
{% endblock %}
