{% extends "BriocheCoreBundle:Brioche:layout.html.twig" %}

{% block title %}Choix de la tournée - {{ parent() }}{% endblock %}

{% block metadesc %}Choisissez la tournée dans laquelle vous voulez être livré.{% endblock %}

{% block body %}
{{ parent() }}

<section class="round">
    <h2 class="text-center">Choix de la tournée</h2>
    <br />
    
    {% include 'BriocheCoreBundle::_rounds.html.twig' %}

    {% if rounds|length == 0 %}
        <a href="{{ skipUrl }}" class="btn btn-primary visible-xs">
            <span class="glyphicon glyphicon-share-alt"></span>
            Passer cette étape
        </a>
    {% endif %}
</section>
{% endblock %}
