{% extends "BriocheCoreBundle:Brioche:layout.html.twig" %}

{% block body %}
{{ parent() }}

<section class="summary">
    <h2 class="text-center">Résumé de la commande</h2>
    <br />
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">
                {% include 'BriocheCoreBundle:Brioche:_summaryTable.html.twig' %}

                <br /><br />
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {% if not brioche.allValid %}
                            <p class="text-center">
                                Votre brioche n'est pas terminée.
                                <a href="{{ path('brioche_index') }}">Compléter les étapes manquantes</a>.</p>
                        {% else %}
                            {% include 'BriocheCoreBundle:Brioche:_priceTable.html.twig' %}

                            {% if not brioche.locked %}
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="text-center">
                                            <form method="post">
                                                <input type="submit" name="valid" value="Valider cette brioche" class="btn btn-primary" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <br /><br />
            </div>
        </div>
    </div>
</section>
{% endblock %}
