.fuelux .wizard {
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
.fuelux .wizard:before, .fuelux .wizard:after {
    content: "";
    display: table;
    line-height: 0;
}
.fuelux .wizard:after {
    clear: both;
}
.fuelux .wizard ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.fuelux .wizard ul li {
    background: none repeat scroll 0 0 #ededed;
    color: #999999;
    cursor: default;
    float: left;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    margin: 0;
    padding: 0 20px 0 30px;
    position: relative;
}
.fuelux .wizard ul li .chevron {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent -moz-use-text-color transparent #d4d4d4;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 24px 0 24px 14px;
    display: block;
    position: absolute;
    right: -14px;
    top: 0;
}
.fuelux .wizard ul li .chevron:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent -moz-use-text-color transparent #ededed;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 24px 0 24px 14px;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: -24px;
}
.fuelux .wizard ul li.complete {
    background: none repeat scroll 0 0 #f3f4f5;
    color: #468847;
}
.fuelux .wizard ul li.complete:hover {
    background: none repeat scroll 0 0 #e7eff8;
    cursor: pointer;
}
.fuelux .wizard ul li.complete:hover .chevron:before {
    border-left: 14px solid #e7eff8;
}
.fuelux .wizard ul li.complete .chevron:before {
    border-left: 14px solid #f3f4f5;
}
.fuelux .wizard ul li.active {
    background: none repeat scroll 0 0 #f1f6fc;
    color: #3a87ad;
}
.fuelux .wizard ul li.active .chevron:before {
    border-left: 14px solid #f1f6fc;
}
.fuelux .wizard ul li .badge {
    margin-right: 8px;
}
.fuelux .wizard ul li:nth-child(1) {
    border-radius: 4px 0 0 4px;
    padding-left: 20px;
    z-index: 10;
}
.fuelux .wizard ul li:nth-child(2) {
    z-index: 9;
}
.fuelux .wizard ul li:nth-child(3) {
    z-index: 8;
}
.fuelux .wizard ul li:nth-child(4) {
    z-index: 7;
}
.fuelux .wizard ul li:nth-child(5) {
    z-index: 6;
}
.fuelux .wizard ul li:nth-child(6) {
    z-index: 5;
}
.fuelux .wizard ul li:nth-child(7) {
    z-index: 4;
}
.fuelux .wizard ul li:nth-child(8) {
    z-index: 3;
}
.fuelux .wizard ul li:nth-child(9) {
    z-index: 2;
}
.fuelux .wizard ul li:nth-child(10) {
    z-index: 1;
}
.fuelux .wizard .actions {
    float: right;
    line-height: 44px;
    padding-right: 15px;
    vertical-align: middle;
}
.fuelux .wizard .actions a {
    font-size: 12px;
    line-height: 45px;
    margin-right: 8px;
}
.fuelux .wizard .actions .btn-prev i {
    margin-right: 5px;
}
.fuelux .wizard .actions .btn-next i {
    margin-left: 5px;
}
.fuelux .step-content .step-pane {
    display: none;
}
.fuelux .step-content .active {
    display: block;
}
.fuelux .step-content .active .btn-group .active {
    display: inline-block;
}
