body {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#333;
    padding-top: 70px;
    overflow-x: hidden;
}
.tournees {
    width: 300px;
}
.tournee {
    margin-bottom: 16px;
}
.tournee button {
}
.tournee.full button {
    cursor: not-allowed;
}
.tournee button.btndate {
    width: 250px;
}
.tournee button.btndate p {
    margin: 0;
}
.tournee button.btnaction {
    width: 46px;
    font-size: 28px;
}
.tournee button.btnaction span {
    margin: 8px 0 13px 0;
}
.tournee .date {
    margin-right: 16px;
    font-size: 18px;
}
.date {
    text-transform: capitalize;
}
.count {
    font-size: 16px;
    font-weight: bold;
}
.count small {
    font-weight: 400;
    font-size: 12px;
}
.extra-selector {
    width: 200px;
}
.padd {
    padding: 16px;
}
.home-steps h3 {
    text-align: center;
}
.home-steps p {
    font-size: 16px;
    text-align: center;
}
.home-steps p img {
    width: 75%;
    max-width: 200px;
    max-height: 200px;
}
.select2-choice {
    font-size: 16px;
    height: 32px !important;
}
.has-feedback .form-control-feedback {
    position: absolute;
    top: 3px;
    right: 15px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.fuelux .wizard .steps a {
    padding: 12px;
}
.fuelux .wizard .steps li {
    padding-left: 18px;
    padding-right: 8px;
}
.fuelux .wizard ul li.complete a {
    color: #468847;
}
.price-table {
}
.price-table .price {
    text-align: right;
}
.price-table .total {
    font-size: 32px;
}
.allergenes {
    font-size: 16px;
    font-weight: bold;
}
.no-margin-top {
    margin-top: 0;
}
section.actions {
}
section.actions .row.actions .well {
    height: 170px;
    margin-bottom: 0;
}

section.actions .action {
    margin-top: 16px;
}
