<h2>Envoyer un mail</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#send-mail">
                Envoyer un email de Brioche du Dimanche
            </a>
        </h4>
    </div>
    <div id="send-mail" class="panel-collapse collapse">
        <div class="panel-body">
            {{ form(mailForm) }}

            Cordialement,<br />
            <a style="color: #428bca" href="#">http://brioche-du-dimanche.com</a><br />
            contact@brioche-du-dimanche.com
        </div>
    </div>
</div>
