{% extends "BriocheAdminBundle::layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        {% include 'BriocheAdminBundle:Default:_rounds.html.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        {% include 'BriocheAdminBundle:Default:_sendMail.html.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        {% include 'BriocheAdminBundle:Default:_mails.html.twig' %}
    </div>
    <div class="col-xs-8">
        {% include 'BriocheAdminBundle:Default:_comments.html.twig' %}
    </div>
</div>
{% endblock %}
